<div class="page-container page-login" layout="column" layout-align="center center">
  
  <!-- background -->
  <div class="page-background page-background-image" style="background-image: url('../../../assets/images/login-background.jpg');"></div>
  <div class="page-background page-background-overlay"></div>
  
  <!-- box spacing -->
  <div class="box-center">
  
    <!-- box content -->
    <div class="box-content">

      <!-- logo -->
      <div class="brand center">
        <img class="img-responsive" src="../../../assets/images/it2-logo.svg" />
      </div>
      
      <!-- title -->
      <h3 class="title text-center">Login to your account.</h3>

      <!-- form -->
      <form class="form" name="form" ng-submit="form.$valid && Login.login(form)" novalidate layout="column" layout-align="center center">

        <md-input-container class="no-margin-top">
          <label>Email Address</label>
          <md-icon md-font-icon="fa-at" class="fa"></md-icon>
          <input name="email" ng-model="Login.user.email" required autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading"><!-- type="email" ng-pattern="/^.+@.+\..+$/" ng-required="true" -->
          <div ng-messages="form.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Email is invalid.</div>
          </div>
        </md-input-container>

        <md-input-container class="no-margin-bottom">
          <label>Password</label>
          <md-icon md-font-icon="fa-lock" class="fa"></md-icon>
          <input type="password" name="password" ng-model="Login.user.password" required minlength="8" autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading">
          <div ng-messages="form.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Enter your full password.</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid || loading">Login</md-button>

      </form>
      
      <!-- error -->
      <p class="form-processing-message bg-danger" ng-class="{'hidden' : !error}">{{ error }}</p>
      
      <!-- spinner -->
      <md-progress-circular md-mode="indeterminate" ng-class="{'hidden' : !loading}"></md-progress-circular>
    
      <!-- nav -->
      <p class="margin-top-20 text-center text-gray"><a class="sign-up" ui-sref="signUp">Sign Up</a> | <a class="forgot-password" ui-sref="forgotPassword">Forgot Password?</a></p>
      
    </div><!-- /div.box-content -->
    
  </div><!-- /div.box-center -->

</div><!-- /div.page-container -->