<div class="page-container page-login" layout="column" layout-align="center center">
  
  <!-- background -->
  <div class="page-background page-background-image" style="background-image: url('../../../assets/images/reset-background.jpg');"></div>
  <div class="page-background page-background-overlay"></div>
  
  <!-- box spacing -->
  <div class="box-center">
  
    <!-- box content -->
    <div class="box-content">

      <!-- logo -->
      <div class="brand">
        <img class="img-responsive" src="../../../assets/images/it2-logo.svg" />
      </div>
      
      <!-- title -->
      <h3 class="title text-center">Reset your password.</h3>

      <!-- form -->
      <form class="form" name="form" ng-submit="form.$valid && ForgotPassword.forgotPassword(form)" ng-hide="forgot.sent" novalidate layout="column" layout-align="center center">

        <md-input-container>
          <label>Email Address</label>
          <md-icon md-font-icon="fa-at" class="fa"></md-icon>
          <input type="email" name="email" ng-model="ForgotPassword.form.email" ng-disabled="forgot.posting" required ng-pattern="/^.+@.+\..+$/" ng-required="true" autocorrect="off" autocapitalize="off" spellcheck="false">
          <div ng-messages="form.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Email is invalid.</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary button-wide" ng-disabled="form.$invalid || ForgotPassword.posting">Request Reset</md-button>

        <p class="margin-top-20 text-gray"><a class="sign-up" ui-sref="signUp">Sign Up</a> | <a class="forgot-password" ui-sref="login">Login</a></p>

      </form>
    
    </div><!-- /div.box-content -->
    
  </div><!-- /div.box-center -->

</div><!-- /div.page-container -->
  
<!--
<div class="login_rowdown">
  <div class="col-md-4 col-md-offset-4">
    <form class="login-form" ng-hide="forgot.sent" name="emailForm" ng-submit="ForgotPassword.forgotPassword(emailForm)" novalidate>
      <h2>Please Enter Your Email</h2>
          <div class="form-group">
              <input validate-email class="form-control login_input" type="email" ng-model="ForgotPassword.form.email" id=""
                     name="email" ng-disabled="forgot.posting" required>
              <label class="control-label error-message" ng-show="emailForm.email.$error.required && ForgotPassword.submitted">Email
                is
                required</label>
              <label class="control-label error-message" ng-show="emailForm.email.$error.email && ForgotPassword.submitted"> Please
                enter a valid email.</label>
              <label class="control-label error-message" ng-show="ForgotPassword.error"> {{ForgotPassword.error.message}}</label>
          </div>
          <div class="form-group">
            <div class="btnsbmt-cont" style="text-align: center">
              <button type="button" class="btn btn-primary btn-danger" ng-click="ForgotPassword.goToLogin()">Cancel</button>
              <button type="submit" class="btn btn-primary btn-success" ng-disabled="ForgotPassword.posting">Confirm</button>
            </div>
      </div>
    </form>

  </div>
</div>
-->