<div class="page-container page-login" layout="column" layout-align="center center">
  
  <!-- background -->
  <div class="page-background page-background-image" style="background-image: url('../../../assets/images/signup-background.jpg');"></div>
  <div class="page-background page-background-overlay"></div>
  
  <!-- box spacing -->
  <div class="box-center">
  
    <!-- box content -->
    <div class="box-content">

      <!-- logo -->
      <div class="brand">
        <img class="img-responsive" src="../../../assets/images/it2-logo.svg" />
      </div>
      
      <!-- title -->
      <h3 class="title text-center">Sign up for an account.</h3>

      <!-- form -->
      <form class="form" name="form" ng-submit="form.$valid && SignUp.register(form)" novalidate layout="column" layout-align="center center">

        <md-input-container>
          <label>Full Name</label>
          <md-icon md-font-icon="fa-list-alt" class="fa"></md-icon>
          <input type="text" name="name" ng-model="SignUp.user.name" required autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading || success">
          <div ng-messages="form.name.$error">
            <div ng-message="required">Name is required.</div>
            <!--<div ng-message="pattern">Enter full name.</div>-->
          </div>
        </md-input-container>
        
        <md-input-container>
          <label>Company</label>
          <md-icon md-font-icon="fa-building" class="fa"></md-icon>
          <input type="text" name="company" ng-model="SignUp.user.company" required autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading || success">
          <div ng-messages="form.company.$error">
            <div ng-message="required">Company is required.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Email Address</label>
          <md-icon md-font-icon="fa-at" class="fa"></md-icon>
          <input type="email" name="email" ng-model="SignUp.user.email" required ng-pattern="/^.+@.+\..+$/" ng-required="true" autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading || success">
          <div ng-messages="form.email.$error">
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Email is invalid.</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Password</label>
          <md-icon md-font-icon="fa-lock" class="fa"></md-icon>
          <input type="password" name="password" ng-model="SignUp.user.password" required minlength="8" autocorrect="off" autocapitalize="off" spellcheck="false" ng-disabled="loading || success">
          <div ng-messages="form.password.$error">
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be at least 8 characters.</div>
          </div>
        </md-input-container>

        <md-button type="submit" class="md-raised md-primary" ng-disabled="form.$invalid || loading || success">Sign Up</md-button>

      </form>
      
      <!-- success -->
      <p class="form-processing-message bg-success" ng-class="{'hidden' : !success}">Thank you for signing up. You will be contacted once iT2 provisions your account.</p>
      
      <!-- error -->
      <p class="form-processing-message bg-danger" ng-class="{'hidden' : !error}">{{ error }}</p>
      
      <!-- spinner -->
      <md-progress-circular md-mode="indeterminate" ng-class="{'hidden' : !loading}"></md-progress-circular>
    
      <!-- nav -->
      <p class="margin-top-20 text-center text-gray">Already have an account? <a class="login btn btn-xs btn-default btn-outline" ui-sref="login">Login</a></p>
      
    </div><!-- /div.box-content -->
    
  </div><!-- /div.box-center -->

</div><!-- /div.page-container -->